<div class="container">
  <button mat-button [matMenuTriggerFor]="administracion">Administración</button>
  <mat-menu #administracion="matMenu">
    <button mat-menu-item [routerLink]="'/usuarios'">Usuarios</button>
    <button mat-menu-item [routerLink]="'/productos'">Productos</button>
    <button mat-menu-item [routerLink]="'/clientes'">Clientes</button>
  </mat-menu>
  <button mat-button [routerLink]="'/ventas'">Registrar venta</button>
  <button mat-button [routerLink]="'/detalleVentas'">Ventas registradas</button>
</div>
